* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.banner {
  background-color: blue;
  /* height: 100vh; */
  height: 70vh;
  background-image: url("https://i.ibb.co/HNvHSyV/image-header.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  height: 50px;
  align-items: center;
}
.menu {
  display: flex;
  margin-right: 10px;
  align-items: center;
  padding-left: 20px;
}
.menu span {
  margin-right: 20px;
  color: white;
}
.menu .btn {
  background-color: white;
  border-radius: 15px;
  display: flex;
  align-items: center;
  padding: 4px 15px;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 50px;
  flex-grow: 1;
  justify-content: center;
}
.section-1 {
  display: flex;
  height: 350px;
}
.left,
.right {
  flex: 1;
}
.section-1 .left {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-1 .text-container {
  width: 70%;
}
.section-1 p {
  margin-top: 30px;
}
.section-1 .left img {
  margin-top: 30px;
}
.section-1 .right img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/* .section-1 .left {
  display: flex;
  align-items: center;
  justify-content: center;
} */
/* .section-1 .text-container {
  width: 70%;
}
.section-1 p {
  margin-top: 30px;
}
.section-1 .left img {
  margin-top: 30px;
} */

/* continue from 1:02:00 */
.section-2 {
  display: flex;
  height: 350px;
}
/* .left-section-2 {
  height: 100%;
} */
.left-section-2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.left-section-2,
.right-section-2 {
  flex: 1;
}
.right-section-2 .text-container-section-2 {
  width: 70%;
}
.right-section-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-3 {
  display: flex;
  height: 350px;
}
.section-3-left img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.section-3-right img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.section-3-left,
.section-3-right {
  flex: 1;
}
.section-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.clients {
  display: flex;
  height: 350px;
}
.client {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-container-section-4 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.examples {
  display: flex;
}
.examples img {
  flex: 0.25;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer {
  background-color: #90d4c5;
  /* height: 400px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer .logo {
  /* margin-top: 50px; */
  color: #2d7465;
}
.footer-navigation {
  color: #4f9485;
  margin-top: 30px;
  font-weight: bold;
}
.footer-navigation span {
  padding: 8px;
  cursor: pointer;
}
.footer social-media {
  margin-top: 30px;
}
.social-media img {
  padding: 4px;
}
@media (max-width: 575.9px) {
  .section-1 {
    flex-direction: column;
    height: auto;
  }

  .section-1 .left {
    padding-bottom: 20px;
    padding-top: 20px;
  }
}
